<!DOCTYPE html>
{% extends 'basic_app/base.html'%}
{% load  staticfiles %}


<div class="container">
{% block body_block %}

</div>

<div class="jumbotron">
 {% if registered %}

   <h1>Thankyou for Registration</h1>

  {% else %}
   <h1>Here is your Registration form </h1>

   <form enctype="multipart/form-data" method="post" >
{% csrf_token %}
{{ user_form.as_p }}
{{ profile_form.as_p }}

<input type="submit" class="btn btn-primary " value="Register">
   </form>
{% endif%}
</div>
{% endblock  %}
